__tests__
.bundle
.DS_Store
android
ios
node_modules
vendor
.eslint.js
.prettierrc.js
.watchmanconfig
app.json
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
metro.config.js
package-lock.json
package.json
README.md
tsconfig.json